@model IEnumerable<ExamManager.Models.Question>
@{ 
    var count = 1;
}
@foreach (var item in Model)
{
    <p>
        <span>@(count++)&#46;&nbsp;</span>
        @item.Question1&nbsp;
        <span>( Level @item.QuestionLevel )</span>
    </p> 
   
}