@keyframes ldio-gsx0m1rgsrd {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.31,1.31);
    }

    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1,1);
    }
}

.ldio-gsx0m1rgsrd div > div {
    position: absolute;
    width: 32.400000000000006px;
    height: 32.400000000000006px;
    border-radius: 50%;
    background: #1d0e0b;
    animation: ldio-gsx0m1rgsrd 0.8064516129032259s linear infinite;
}

.ldio-gsx0m1rgsrd div:nth-child(1) > div {
    left: 200px;
    top: 119px;
    animation-delay: -0.7331378299120235s;
}

.ldio-gsx0m1rgsrd > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 216.20000000000002px 135.20000000000002px;
}

.ldio-gsx0m1rgsrd div:nth-child(2) > div {
    left: 187px;
    top: 163px;
    animation-delay: -0.6598240469208211s;
}

.ldio-gsx0m1rgsrd > div:nth-child(2) {
    transform: rotate(32.72727272727273deg);
    transform-origin: 203.20000000000002px 179.20000000000002px;
}

.ldio-gsx0m1rgsrd div:nth-child(3) > div {
    left: 152px;
    top: 192px;
    animation-delay: -0.5865102639296187s;
}

.ldio-gsx0m1rgsrd > div:nth-child(3) {
    transform: rotate(65.45454545454545deg);
    transform-origin: 168.20000000000002px 208.20000000000002px;
}

.ldio-gsx0m1rgsrd div:nth-child(4) > div {
    left: 107px;
    top: 199px;
    animation-delay: -0.5131964809384164s;
}

.ldio-gsx0m1rgsrd > div:nth-child(4) {
    transform: rotate(98.18181818181819deg);
    transform-origin: 123.20000000000002px 215.20000000000002px;
}

.ldio-gsx0m1rgsrd div:nth-child(5) > div {
    left: 66px;
    top: 180px;
    animation-delay: -0.4398826979472141s;
}

.ldio-gsx0m1rgsrd > div:nth-child(5) {
    transform: rotate(130.9090909090909deg);
    transform-origin: 82.20000000000002px 196.20000000000002px;
}

.ldio-gsx0m1rgsrd div:nth-child(6) > div {
    left: 41px;
    top: 142px;
    animation-delay: -0.36656891495601174s;
}

.ldio-gsx0m1rgsrd > div:nth-child(6) {
    transform: rotate(163.63636363636363deg);
    transform-origin: 57.20000000000002px 158.20000000000002px;
}

.ldio-gsx0m1rgsrd div:nth-child(7) > div {
    left: 41px;
    top: 96px;
    animation-delay: -0.29325513196480935s;
}

.ldio-gsx0m1rgsrd > div:nth-child(7) {
    transform: rotate(196.36363636363637deg);
    transform-origin: 57.20000000000002px 112.20000000000002px;
}

.ldio-gsx0m1rgsrd div:nth-child(8) > div {
    left: 66px;
    top: 58px;
    animation-delay: -0.21994134897360704s;
}

.ldio-gsx0m1rgsrd > div:nth-child(8) {
    transform: rotate(229.0909090909091deg);
    transform-origin: 82.20000000000002px 74.20000000000002px;
}

.ldio-gsx0m1rgsrd div:nth-child(9) > div {
    left: 107px;
    top: 39px;
    animation-delay: -0.14662756598240467s;
}

.ldio-gsx0m1rgsrd > div:nth-child(9) {
    transform: rotate(261.8181818181818deg);
    transform-origin: 123.20000000000002px 55.20000000000002px;
}

.ldio-gsx0m1rgsrd div:nth-child(10) > div {
    left: 152px;
    top: 45px;
    animation-delay: -0.07331378299120234s;
}

.ldio-gsx0m1rgsrd > div:nth-child(10) {
    transform: rotate(294.54545454545456deg);
    transform-origin: 168.20000000000002px 61.20000000000002px;
}

.ldio-gsx0m1rgsrd div:nth-child(11) > div {
    left: 187px;
    top: 75px;
    animation-delay: 0s;
}

.ldio-gsx0m1rgsrd > div:nth-child(11) {
    transform: rotate(327.27272727272725deg);
    transform-origin: 203.20000000000002px 91.20000000000002px;
}

.loadingio-spinner-spin-q62f1deg4e {
    width: 270px;
    height: 270px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-gsx0m1rgsrd {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

    .ldio-gsx0m1rgsrd div {
        box-sizing: content-box;
    }
/* generated by https://loading.io/ */
